/HelloJava/nbproject/private/
/HelloJava/build/
/lesson2/nbproject/private/
/session02-language/varFun/nbproject/private/
/session02-language/varFun/build/
/session02-language/varFun/dist/
/session02-language/JavaApplication4/nbproject/private/
/lesson2/build/
/lesson2/dist/
/lesson3/JavaApplication5/nbproject/private/
/lesson3/JavaApplication5/build/
/lesson 4/lesson 4/nbproject/private/
/lesson 4/lesson 4/build/
/lesson 4/object/nbproject/private/
/lesson 4/lesson 4/dist/
/lesson 5/lesson 5/nbproject/private/
/lesson 5/lesson 5/build/
/lesson 6/studentManagerment/nbproject/private/
/lesson 6/studentManagerment/build/
/lesson 6/studentManagerment/dist/
.vscode
/lesson 6/students/nbproject/private/
/lesson 6/students/build/
/lesson 6/vuudynhien/nbproject/private/
/lesson 6/vuudynhien/build/
/lesson 6/vuudynhien/dist/
