/HelloJava/nbproject/private/
/HelloJava/build/
/lesson2/nbproject/private/
/session02-language/varFun/nbproject/private/
/session02-language/varFun/build/
/session02-language/varFun/dist/
/session02-language/JavaApplication4/nbproject/private/
/lesson2/build/
/lesson2/dist/
/lesson3/JavaApplication5/nbproject/private/
/lesson3/JavaApplication5/build/
